name: Build and Deploy to Github Pages
on:
    push:
        branches: 
        - master
jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v2
        - name: Setup .NET Core 
          uses: actions/setup-dotnet@v1
          with:
            dotnet-version: 3.1.302
        - name: Publish with dotnet
          run: dotnet publish ./src/PortfolioSite.sln --configuration Release --output build
        - name: Deploy to Github Pages
          uses: JamesIves/github-pages-deploy-action@releases/v3
          with:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            BASE_BRANCH: master
            BRANCH: gh-pages # The branch the action should deploy to.
            FOLDER: build/wwwroot # The folder the action should deploy.
            CLEAN: true